*.class
**/.idea/*
*.bin
*.log
*.o
0.1/WsonTest/cmake-build-debug/
0.1/java/build/classes
0.1/java/build/reports/
0.1/java/build/
0.1/java/.gradle/


0.2/WsonTest/cmake-build-debug/
0.2/java/build/classes
0.2/java/build/reports/
0.2/java/build/
0.2/java/.gradle/